.logo {
  height: 50px;
  width: 50px;
  margin-top: -20px;
}

.intro-header, .banner{
  background-attachment: fixed;
  background-size: cover;
}

.scrollup, .scrollup:hover, .scrollup:focus{
  width: 40px;
  height: 40px;
  background-image: url(../img/icon_top.png);
  display: block;
  color: transparent;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: .5;
}

@media (max-width:768px){
  h1{
    font-size: 20px;
    color: red;
  }
}

@media (min-width:768px) and (max-width:992px){
  h1{
    font-size: 40px;
    color: blue;
  }
}
